<div class="container mt-5">
  <% @videos.each do |video| %>
  <div class="row mb-5">
    <div class="col-5 d-flex flex-row-reverse">
      <iframe width="350" height="230" src="https://www.youtube.com/embed/<%= video.video_id %>" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="col-7">
      <p class="text-danger">
        <%= video.title %>
      </p>
      <p class="fw-bolder">
        Shared by: <%= video.user.user_name %>
      </p>
      <p class="fs-4">Description:</p>
      <p class="fw-bold title-video" title="<%= video.description %>"><%= video.description %></p>
    </div>
  </div>
  <% end %>
</div>
